DirectoryIndex index.php

RewriteEngine On

# DO NOT rewrite PWA files
RewriteRule ^manifest\.php$ - [L]
RewriteRule ^service-worker\.js$ - [L]

# Redirect to index.php if no specific file is requested
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [L]

# Prevent directory listing
Options -Indexes

# Correct MIME types
AddType application/json .json
AddType application/javascript .js