DirectoryIndex index.php

RewriteEngine On

# Do NOT rewrite PWA related files
RewriteRule ^manifest\.php$ - [L]
RewriteRule ^manifest\.webmanifest$ - [L]
RewriteRule ^manifest\.json$ - [L]
RewriteRule ^service-worker\.js$ - [L]

# Prevent directory listing
Options -Indexes

# Correct MIME types
AddType application/json .json
AddType application/javascript .js
AddType application/manifest+json .webmanifest

# Redirect all non-existing files to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]